/*Body and Container*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 15px;
}

.container-fluid {
  background-color: hsl(217, 28%, 15%);
  width: 100%;
  height: 2500px;
}

.nav {
  width: 100%;
  height: 50px; 
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-between;
}

.iconDiv{
  width:150px;
  position: relative;
  left:50px;
}

#navIcon{
  width:140px;
}

.navLinks{
  display: flex;
  align-items: center;
}

.navLinks a{
  color: white;
  text-decoration: none;
font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-right:27px;
  position: relative;
  left:-40px;
  font-weight: 400;
}

/*First Container*/
.first-container{
  position: relative;
  top:25px;
  width:100%;
  height:700px;
  z-index: 2;
}

.firstSvgContainer{
  width:860px;
  height:650px;
  margin:0 auto;
  position: relative;
  top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#firstIllustration{
  width:560px;
  height:430px;
}

.firstHeader{
  width:600px;
  height:110px;
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 35px;
  font-weight: bold;
  line-height: 60%;
  margin-top: 7px;
}

.firstParagraph{
  width:600px;
  color:white;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 60%;
  margin-top: 40px;
}

#accessible{
  text-align: center;
}









#button{
  background-color: hsl(198, 60%, 50%);
  color:white;
  width:180px;
  height:40px;
  border-color:transparent;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

#button:hover{
  cursor: grab;
}

/*Backgroud Image*/
#bgCurvy{
 position: relative;
top:-110px;
z-index: 1;
}

/*Second Container*/
.second-container{
  background-color: hsl(218, 28%, 13%);
  width:100%;
  height:1800px;
  position: relative;
  top:-125px;
  z-index: 2;
}

.iconCenter{
  width:850px;
  height:700px;
  margin: 0 auto;
}

#firstRow{
  margin-top: 0;
}

.iconRow{
  width:860px;
  height:330px;
  margin-top:0px;
  display: flex;
  justify-content: space-between;
}

.cell{
  width:410px;
  height:350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellCenter{
  width:400px;
  height:250px;
  text-align: center;
  align-items: center;
}

.cellCenter p{
  color:white;
  font-family: 'Open Sans', sans-serif;
  line-height: 50%;
}

.cellCenter h3{
  color:white;
  font-family: 'Raleway', sans-serif;
}


#A{
  position: relative;
  top:7px ;
}


#B{
  position: relative;
  top:0 ;
}


#C{
  position: relative;
  top: 5px;
}


#D{
  position: relative;
  top:13px ;
}

.secondSvg{
  height:430px;
  display: flex;
}

#stayProductive{
  width:500px;
  height:400px;
}

.svgDiv{
  width:40%;
  position: relative;
  left:90px;
}

.secondSvgText{
  width:50%;
  height:430px;
  position: relative;
  left:120px;
}

.texts{
  width:80%;
  height:300px;
  position: relative;
  top:45px;
}

.texts h2{
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size:38px;
  line-height: 40%;
}

.texts p{
  color:white;
  font-family: 'Open Sans', sans-serif;
  line-height: 65%;
  font-weight: 400;
}

#textMargin{
  margin-top:30px;
}

#linkFylo{
  color: hsl(176, 68%, 64%);
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top:10px;
} 

#arrowSvg{
  width:21px;
  position: relative; 
  top:5px; 
}

#quotes{
    position: relative;
    left:76px;
    top:84px;
    z-index: -1;
}

.cardContainer{
  z-index: 2;
  height:250px;
  width:85%;
  margin:80px auto 0; 
  display: flex;
  justify-content: space-between;
}

.cards{
  width:32%;
  height: inherit;
  background-color: hsl(219, 30%, 18%);
}

.cardContent{
  width:85%;
  height:85%;
  margin: 20px auto  0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contentP{
  height:50%;
  position: relative;
  top:2px;
}

.contentP p{
  color:white;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 55%;
}

.contentImage{
  height:30%;
  display: flex;
}

.profileCircle{
  width:60px;
  height: 60px;
  border-radius: 50%;
  border:1px solid grey;
}


.FirstImage{
  background-image: url('images/profileA.png');
    background-size:cover;
}

#secondImage{
  background-image: url('images/profileB.png');
  background-size: cover;
}

.thirdImage{
  background-image: url('images/profileC.png');
  background-size: cover;
}

.bio{
  position: relative;
  left:12px;
  top:-6px;
   line-height: 70%;
  color:white;
}

.bio p{
  font-family: 'Open Sans', sans-serif;
}

.bio h3{
  font-family: 'Raleway', sans-serif;
}

.getStarted{
  background-color: hsl(217, 28%, 15%);
  width:58%;
  height:300px;
  margin:0 auto;
  z-index: 10;
  position: relative;
  top:120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startFlex{
  width:82%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.startInfo{
  width:100%;
  height: 60%;
  color:white;
}

.startInfo h2{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.startInfo p{
font-family: 'Open Sans', sans-serif; 
line-height: 70%;
font-weight: 400;
}


.startSearch{
  width:100%;
  height: 30%;
  display: flex;
  align-items: center;
}

#search{
  width:66%;
  height: 65%;
  border-radius: 25px;
  border-color: transparent;
}

#search:focus{
  outline: none;
}

#searchButton{
  background-color: hsl(198, 60%, 50%);
  color:white;
  width:172px;
  height:45px;
  border-color:transparent;
  position: relative;
  left:35px;
  border-radius: 20px;
  font-size: 15px;
}

#search::placeholder{
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px;
  position: relative;
  left:30px;
}

/*Third Container*/
.third-container{
  z-index: 1;
  width:100vw;
  height:550px;
  background-color: hsl(216, 53%, 9%);
  position: relative;
  top:-125px;
}

.footer-content{
  width:82%;
  height:50%;
  margin: 0 auto;
  position: relative;
  top:200px;
  display: flex;
  justify-content: space-between;

}  

.firstFooter{
  width:35%;
  height:100%;
}

.firstFooterFlex{
  display: flex;
  color:white;
    font-family: 'Open Sans', sans-serif; 
    margin-top:15px;
    line-height: 150%;
    position: relative;
    top:10px;
}

.locationSvg{
  margin-right:20px;
}

#location{
  position: relative;
  top:15px;
}

.secondFooter{
  width:15%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondFooter p{
  color:white; 
  font-family: 'Open Sans', sans-serif; 
  position: relative;
  top:-16px;
}

.secondA, .secondB{
  display: flex;
}

#phone, #email{
  margin-right:10px;
}

.thirdFooter{
  width:10%;
  height:100%;
  display: flex;
  align-items: center;
}

.thirdLinks a{
  color:white; 
  font-family: 'Open Sans', sans-serif; 
  text-decoration: none;
  margin: 8px;
  margin-left: 0;
}

.thirdLinks{
  height:50%;
  display: flex;
  flex-direction: column;
  position: relative;
  top:20px;
}

.fourthFooter{
  width:10%;
  height:100%;
  display: flex;
  align-items: center;
}

.fifthFooter{
  width:10%;
  height:100%;
  display: flex;
  align-items: center;
}

.socialCircle{
  width:25px;
  height: 25px;
  border-radius: 100%;
  margin-right:15px;
}

.socialIcons{
  color:white !important;
  font-size: 23px;
}

.socialFlex{
  display: flex;
  height:15%;
  position: relative;
  top:-21px;
}